/**
 * Solarized Dark theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,800,400italic,800italic);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: #ededed;
$headingColor: $mainColor;
$headingTextShadow: none;
$backgroundColor: #36393f;
$linkColor: #5dcdad;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;
$headingFont: Roboto;
$mainFont: Roboto;
$heading1TextShadow: 2px 2px 0 rgba(53, 57, 63, 0.8);
$heading1Size: 72pt;
$heading2Size: 40pt;
$heading3Size: 32pt;
$mainFontSize: 28pt;
$headingTextTransform: none;
$headingFontWeight: 800;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal h2 {
        position: relative;
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 35px;
        text-align: left;
}

.reveal h2:after {
        display: block;
        content: "";
        position: absolute;
        bottom: -15px;
        width: 80%;
        border-bottom: 2px solid #5dcdad;
}

.reveal ul ul {
        list-style-type: "- ";
}